@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    margin-right: 8%;
    margin-left: 8%;
}
.heading{
    font-family: 'Gugi', cursive;
}
h1::before{
    content: '\1F30C';
}
h2{
    color: darkslateblue;
    padding-top: 10px;
}
h3{
    color: saddlebrown;
}
h3::before{
    content: '\1F516';
}
ol{
    border: 1px solid black;
    padding: 10px 30px;
    width: 180px;
}
p, li, td{
    font-family: 'IM_Hyemin-Regular', serif;
}
table{
    border: 1px solid midnightblue;
    border-collapse: collapse;
}
td, th{
    border: 1px solid midnightblue;
    padding: 0.6em 0.5em;
}
thead{
    font-family: KOTRAHOPE, sans-serif;
    background: aliceblue;
}