/*home 내용*/
.updated-container{
    flex: 0.4;
}
.news-container{
    display: flex;
}
.content>div, .content-count>div{
    margin: 3px 0;
}
.content{
    flex: 0.5;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.content .post{
    background-color: #ec6d6d;
    padding: 0.15em 0.4em;
    font-size: 0.7em;
    border-radius: 3px;
    margin-right: 6px;
    color: white;
}
.content .album{
    background-color: #6486ce;
    padding: 0.15em 0.4em;
    font-size: 0.7em;
    border-radius: 3px;
    margin-right: 6px;
    color: white;
}

.content-count{
    flex: 0.5;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.content-count>div{
    flex-basis: 50%;
    border-bottom: 1px dashed gray;
}
.content-count span{
    font-family: PFStardust;
    color: #4b83b2;
    font-size: 0.5em;
    line-height: 0;
}

.miniroom{
    flex: 1;
}
.miniroom img{
    margin-top: 20px;
}

.main-title{
    font-weight: bolder;
    color: #4b83b2;
    border-bottom: 1px solid gray;
    height: 24px;
}