body{
    background-color: #b0b0b0;
    background-image: url("image/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    right: 0;
    /*left만 쓰면 auto가 제대로 작동하지 않음!*/
    /*left right 둘 다 적어야 width를 인식하나보다*/
    top: 0;
}
.bookcover{
    width: 960px;
    height: 660px;
    background-color: #b2d4e1;
    border: 1px solid #a2d1e3;
    border-radius: 9px;
    position: relative;
    margin: 100px auto;
}
.bookdot{
    width: 930px;
    height: 630px;
    border-radius: 9px;
    border: 2px dashed white;
    position: absolute;
    top: 13px;
    left: 13px;
}
.page{
    width: 910px;
    height: 610px;
    border-radius: 9px;
    background-color: #ececec;
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
}

/*첫번째 열(프로필 관련)*/
.profile-container{
    flex: 0.25;

    display: flex;
    flex-direction: column;
}
.visit{
    flex: 0.1;
    text-align: center;
    line-height: 28px;
    font-size: 0.8em;
}
.profile{
    flex: 2;

    display: flex;
    flex-direction: column;
}
.profile-image{
    flex: 0.4;
}
.aboutMe{
    flex: 0.5;
    font-size: 1.4em;
}
.name{
    flex: 0.1;
    font-size: 1.4em;
    font-weight: bold;
}

.dropdown{
    position: relative;
    margin-top: 8px;
    display: block;
}
.dropbtn {
    display: block;
    padding: 3px 10px;
    background-color: white;
    border: 1px solid gray;
}
.dropdown-content{
    display: none;
    width: 150px;
    position: absolute;
    border: 1px solid gray;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a{
    padding: 3px 10px;
    background-color: white;
    color: #4d4d4d;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #eaeaea;
}
.dropdown:hover .dropbtn{
    background-color: #dedede;
}

/*두번째 열(제목 관련)*/
.main-container{
    flex: 0.65;

    display: flex;
    flex-direction: column;
}
.title-container{
    flex: 0.1;

    display: flex;
}
.title{
    flex: 0.5;
    text-align: left;
    line-height: 28px;
}
.url{
    flex: 0.5;
    text-align: right;
    line-height: 28px;
    font-size: 0.8em;
}
.main{
    flex: 2;

    display: flex;
    flex-direction: column;
}

/*메뉴 관련*/
.menu-container{
    flex: 0.1;
    margin: 15px 20px 15px 0;
}
.menu-container a{
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 5px;
    border: 1px solid #5d53a8;
    border-radius: 0 5px 5px 0;
    background-color: #4b83b2;
    color: white;
    text-decoration-line: none;
    margin-bottom: 10px;
}
.menu-container a:hover{
    background-color: #2a5880;
}
.menu-container a:first-child{
    margin-top: 60px;
}

/*컨테이너 정렬 관련*/
.align-container{
    margin: 15px 0 15px 15px;
}
.box{
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 9px;
    padding: 30px;
}